#### Assignment No. 01

#### What is 7 to the power of 4

In [2]:
7**4

2401

#### Split this string:

s = "Hi there Yogesh!"

In [11]:
s="Hi there Yogesh!"

In [15]:
s.split(" ")

['Hi', 'there', 'Yogesh!']

#### OR Second Method

In [14]:
def Convert(string):
    li = list(string.split(" "))
    return li  
str1 = "Hi there Yogesh!"
print(Convert(str1))

['Hi', 'there', 'Yogesh!']

#### ** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [19]:
txt="The diameter of {planet} is {diameter} kilometer".format(planet = "Earth",diameter = 12742)

In [20]:
txt

'The diameter of Earth is 12742 kilometer'

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
** Given this nested list, use indexing to grab the word "hello" **

In [21]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [55]:
list1=lst[3][1][2][0]

In [57]:
list1

'hello'

#### ** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [4]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [5]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [12]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

#### ** What is the main difference between a tuple and a list? **

In [ ]:
#Tuples are Mutable and Lists are Immutable
#Tuple contains open bracket and lists contains square bracket

#### ** Create a function that grabs the email website domain from a string in the form: ** "user@domain.com"

In [15]:
def domainGet(email):
    return email.split('@')[-1]

In [16]:
domainGet('user@domain.com')

'domain.com'

#### ** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def findDog(st):
    return 'dog' in st.lower().split()

In [18]:
findDog('Is there a dog here?')

True

#### ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [22]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count =count+ 1
    return count

In [23]:
countDog('This dog runs faster than the other dog dude!')

2

#### ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']

In [24]:
seq = ['soup','dog','salad','cat','great']

In [25]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [28]:
list(filter(lambda word:word[0]=='s',seq))

['soup', 'salad']

#### *You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [8]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [10]:
caught_speeding(81,True)

'Small Ticket'

In [11]:
caught_speeding(81,False)

'Big Ticket'

#### Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [15]:
import re
num_input=input("enter the string")
numbers=re.findall(r"[-]?\d",num_input)
print("".join(numbers))

enter the stringabcs-123dhge
-123

In [4]:
import re
num_input=input("enter the string")
numbers=re.findall(r"[-]?\d",num_input)
print("".join(numbers))

enter the stringabcd456
456

In [37]:
s=input("Enter input")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
if s=="":
    print("Enter someting as input")
else:
      if s[0]=='-':
            num=num + '-'
            for c in s:
                if c in str(a):
                    num=num + c
            print(num)

Enter input-123sssg
-123

#### WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [35]:
num1=input("Enter the number")
num2=int(num1[::-1])
num3=str(int(num1)+(num2))
while str(num3)!=str(num3[::-1]):
    num3=str(int(num3)+int(num3[::-1]))
    print("number is",num3)
    print("Reverse is",num3[::-1])
    print("palindrome is",num3)

Enter the number768
number is 6996
Reverse is 6996
palindrome is 6996

#### Write a python function to find and display the five 
#### digit number in which the first digit is two more than 
#### the second,the second digit is two more than the third,
#### the fourth digit is two less than the third, and the 
#### last digit is two more than
#### the fourth.The sum of the third,fourth and fifth digits
#### equals the first.The sum of all the digits is 19

In [22]:
 def find_five_digit():
        for i in range(9,0,-1):
            first=i
            second = i-2
            third=i-4
            fourth=i-6
            fifth=i-4
            if(third+fourth+fifth==first):
                if (first+second+third+fourth+fifth)==19:
                    return(int(str(first)+str(second)+str(third)+str(fourth)+str(fifth)))
print(number())

75313